.orders-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #f4f6f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.order-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /* Larger space for products */
  gap: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.order-item:hover {
  transform: translateY(-5px);
}

.order-details {
  padding: 10px 20px;
  background-color: #f7f9fa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-details h3 {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.order-details p {
  font-size: 16px;
  color: #555;
}

.order-products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.order-product {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  max-width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.order-product-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 6px;
}

.order-product-info h4 {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.order-product-info p {
  font-size: 14px;
  color: #777;
  margin: 4px 0;
}

.order-item h3,
.order-item p {
  margin: 5px 0;
}

.order-item h3 {
  font-size: 18px;
  font-weight: bold;
}

.order-product-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.orders-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the wrapper takes at least full height of the viewport */
}

footer {
  margin-top: auto; /* Push the footer to the bottom if content is short */
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .order-item {
    grid-template-columns: 1fr;
  }
  
  .order-product {
    max-width: 100%;
  }

  .orders-container h2 {
    font-size: 24px;
  }
  
  .order-details h3 {
    font-size: 18px;
  }

  .order-details p,
  .order-product-info p {
    font-size: 14px;
  }
}
